.header
{
    position: relative;
    background-image:url(adventure-air-aircraft-36487.jpg);
    left: 0;
    top:0;
    opacity:0.9 ;
    z-index: -1;
    position: absolute;
    width:100%; 
    height:700px;
    background-repeat: repeat;
    background-attachment: scroll;  
}
#menu
{
  position: sticky;
  top: 15px;
} 
 ul
{
  list-style-type: none;
  float: right;
  margin-right:100px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 ;
  
}
li
{
    display: inline;

    padding: 5px;
    text-transform: uppercase;
    display: inline-block;
}
li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:visited::after
{
    
    -webkit-transition: 0.2s all linear;
     -moz-transition: 0.2s all linear;
    -o-transition:0.2s all linear;
    transition: 0.2s all linear;
}
li a:hover
{
  opacity:0.7;
  transform: rotate(45deg);
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg); /* Standard syntax */
  color: red;
}
#about
{
    height:500px;
    position: absolute;
    height:600px;
    top:43.5em;
    background-color:rgba(175, 178, 145, 0.5);
    z-index: -1;
    left: 0;
    right: 0;
    
    width:100%;   
}
.left
{
    float: left;
    width: 500px;
    
}
#about .right
{
    float: left;
    width:700px;
    margin-left: 20vh;
    /* border: 1px solid black; */
      
}
img:hover
{
   transform: scale(1.5);
   
   -webkit-transform: scale(1.5);
}


main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background:rgba(175, 178, 145, 0.1);
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #18aae4;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
.blink {
    animation-duration: 1000ms;    /*blinking speed decreases and increase */
    animation-name: tgle;
    animation-iteration-count: infinite;
  }
  
  @keyframes tgle {
    0% {
      opacity: 0;
    }
  
    49.99% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  
    99.99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes example1 {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example1 {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
.skill
{
  width:70%;
  border: 1px solid gray;
  height:25px;
  float: left;
  z-index:0 ;
  margin:10px;   
   
}
.skill1
{
  z-index:1;
  position: absolute;
  height:25px; 
  background-color:#18aae4; 
}
#portfolio
{
  width:100%;

  position: absolute;
  left:0;
  background-color:rgba(175, 178, 145, 0.5);
  top:37.5em;
  right:0;
  
  height:900px;

}
.left1
{
  width:30%;
  height:50%; 
  margin:20px;
  float: left; 
}
.center1
{
  float: left;
  width:30%; 
  height:50%;
  margin: 20px;
}
.right1
{
  width:30%; 
  height:50%; 
  float: left;
  margin:20px; 
}
#what
{
  width:100%;
  height:650px;
  /* border: 1px solid red; */
  background-color: rgba(175, 178, 145, 0.5);
  position: absolute;
  top:110.3vw ;   
}
.whatbox
{
  
  height:500px;
  width:1200px;
  margin-left:100px;   
}
.grid
{
  display:grid;
  grid-template-columns:50% 50%;   
}
.grid>div
{
  width:250px;
  margin-left:25px;
  margin-top:45px; 
}
.userview
{
  width:100%;
  height:200px;
  /* border: 1px solid red; */
  background-color: #000;
  position: absolute;
  top:158vw ;
}
.userview>div
{
  display:block;
  float: left;
  color: white;
  margin-left:180px;  
  
}
.userview>div>h1
{
  text-align: center;
  font-size:4em; 
  line-height:1.5em; 
}
.userview>div>p
{
  text-align: center;
  margin-top:-35px;  
  font-size:1.5em; 
}
.bgdiv
{
  width:100%;
  height:80px;
  /* border: 1px solid red; */
  background-image:url(apple-black-and-white-black-and-white-169573.jpg);
  position: absolute;
  background-size:cover;
  opacity:0.8; 
  top:172.5vw;
  left:0;
  right:0; 
}
.team
{
  width:100%;
  height:700px;
  background-color: rgba(175, 178, 145, 0.5);
  position: absolute; 
  top:178.4vw;
  
}
.gridimg
{
  display:grid;
  width:82%;
  margin-left: 8em; 
  /* grid-template-columns:repeat(3,2fr); */
  grid-template-columns:1.5fr 1.5fr 1.5fr 1.5fr;
  grid-column-gap:25px;
  
  grid-row-gap:20px;
  grid-auto-rows:minmax(400px,auto);
  position: relative;
}
.gridimg>div
{
  background-color: silver;
  height:400px;
  z-index:0;
}
.box1
{
  display:block;
  width:160px;
  height:140px;
  
  margin-top:-25px;
  z-index:1;
  position: absolute;
  top:32em;
  left:11.5em;
  background-color:rgba(175, 178, 145, 0.5);
  opacity:0.9 ; 
}
.box2
{
  display:block;
  width:160px;
  height:140px;
  
  margin-top:-25px;
  z-index:1;
  position: absolute;
  top:32em;
  left:29em;
  background-color:rgba(175, 178, 145, 0.5);
  opacity:0.9 ; 
}
.box3
{
  display:block;
  width:160px;
  height:140px;
  
  margin-top:-25px;
  z-index:1;
  position: absolute;
  top:32em;
  left:47em;
  background-color:rgba(175, 178, 145, 0.5);
  opacity:0.9 ; 
}
.box4
{
  display:block;
  width:160px;
  height:140px;
  
  margin-top:-25px;
  z-index:1;
  position: absolute;
  top:32em;
  left:64em;
  background-color:rgba(175, 178, 145, 0.5);
  opacity:0.9 ; 
}
.blackbox
{
  width:100%;
  height:200px;
  background-color: rgba(175, 178, 145, 0.5);
  position: absolute; 
  top:229.8vw;
  /* border:1px solid black;  */
 background-image:linear-gradient(0deg,#000,gray); 
}
#contact
{
  width:100%;
  height:530px;
  background-color: rgba(175, 178, 145, 0.5);
  position: absolute; 
  top:244.5vw;
 
}
.gridcontact
{
  display:grid;
  width:82%;
  margin-left: 8em; 
  /* grid-template-columns:repeat(3,2fr); */
  grid-template-columns:50% 50%;
  grid-column-gap:25px;
  
  grid-row-gap:20px;
  grid-auto-rows:minmax(400px,auto);
  position: relative; 
  
}
.name
{
  display:initial;  
}
footer
{
  width:100%;
  height:200px;
  background-color: #000;
  position: absolute; 
  top:283.5vw;
}